.contentContainer {
  width: 80%;
  margin: auto;
  padding: 0 2rem;
  height: calc(100vh - 5rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  svg {
    height: 32.5rem;
    width: 20.875rem;
  }

  section {
    margin-right: 10.25rem;

    > span {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  h1 {
    font-size: 4.5rem;
    line-height: 4.5rem;
    font-weight: 900;
    margin-top: 2.5rem;

    span {
      color: var(--cyan-500);
    }
  }

  p {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    line-height: 2.25rem;
    margin-bottom: 3.81rem;
    span {
      color: var(--cyan-500);
      font-weight: bold;
    }
  }
}
